
.nav-bar {
  margin-top: 20px;
  text-align: center;
}

div.nav-button {
  text-align: center;
  display: inline-block;
  width: 25vw;
}

button.nav-button {
  margin-bottom: 6px;
}

.app-bar {
  height: 56px;
}

.app-bar h6 {
  margin: auto 0 auto 20px;
}

/*div.nav-icon span:hover {*/
/*  color: */
/*}*/
